#bannar{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bannar .bannar-content {
    max-width: 585px;
}


#bannar .bannar-content h4{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#bannar .bannar-content p{
    font-size: 18px;
    color: black;
    line-height: 30px;
    margin-bottom: 30px;
}

 #bannar .bannar-image {
    max-width: 585px;
    vertical-align: middle; 
    border-radius: 5px;
} 

*{
    background-color: gold;
    border-radius: 50px;
}
